.categories-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.category-form-component {
  width: 25% !important;
}

.categories-container {
  width: 75%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: scroll;
  scrollbar-width: 1px !important;
}