.category-container {
    text-align: center;
    font-family: "Akaya Kanadaka""Great Vibes", cursive;

}
.category-products{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin-left: 10px;
    // gap: 20px;
}