.product {
  width: 19%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-img {
  position: relative;
  img {
    border-radius: 8px;
    width: 250px;
  }
  .product-img:hover .icon {
    visibility:hidden;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
   
     
  }
}

.add-to-cart,
.add-to-cart:focus,
.add-to-cart:focus-visible {
  width: 80%;
  height: 3em;
  margin: auto;
  font-size: larger;
  text-align: center;
  border: 0.1em solid black;
  border-radius: 0.4em;

  justify-self: center;
}
.product-actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: none;
  align-items: center;
  justify-content: center;

  .icon-btn {
    border: none;
    background: none;
    color: grey;

    font-size: 16px;
    cursor: pointer;
    
  }
}
.product-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  p {
    text-align: center;
    margin: 5px;
  }
  button {
    border-radius: 8px;
    margin: auto;
    padding: 10px;
  }
}

.admin-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  button {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .product {
    margin: 0;
    margin-bottom: 2em;
  }
}
