.search-filter {
    display: flex;
    align-items: center;
  }
  
  .search-filter input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
   
  }
  
  .search-filter select {
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    
  }
  .found-products {
    position: absolute;
    z-index: 30;
    top: 40px;
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
  }