.category-form-component {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .category-form-component img {
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .category-form-component form {
    display: flex;
    flex-direction: column;
  }
  
  .category-form-component input[type="text"] {
    width: calc(100% - 20px);
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .category-form-component button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .category-form-component button:hover {
    background-color: #0056b3;
  }
  