
.dark-mode {
    border: none;
    cursor: pointer;
    color: rgb(247, 245, 245);
  }
  
  .dark-mode:focus {
    outline: none;
    
  }
  
  .dark-mode svg {
    fill: #322b2b; 
    transition: fill 0.3s ease;
  }
  
  .dark-mode:hover svg {
    fill: #7fa0c4; 
  }
  