.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.main {
  padding: 20px;
}
.header-actions {
  display: flex;
  gap: 10px;
}

.header-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #d8a847;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #0056b3;
}

input[type="button"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #f0f0f0;
}

.category-link {
  position: relative;
  .category-component {
    display: none;
    position: absolute;
    width: 140px;
  }
  .category-component :hover {
    display: flex;
  }
}

.category-p {
  margin: 0;
}
.category-link:hover {
  .category-component {
    display: flex !important;
  }
}
.main {
  min-height: 100vh;
  display: flex;
}


.category-component {
  z-index: 9000;
}
.navbar{
  background-color: rgb(239, 223, 201);
}

.cart-indicator {
  position: relative; /* Needed for badge positioning */
  display: flex;
  flex-direction: row;
  align-items: center; /* Align icon and badge vertically */
  margin-bottom: 10px; /* Optional spacing below the indicator */
}

.cart-count {
  position: absolute; /* Position badge on top of the icon */
  top: -10px; /* Adjust position as needed */
  right: -5px; /* Adjust position as needed */
  background-color: red; /* Badge color */
  color: white; /* Badge text color */
  padding: 2px 5px; /* Badge size */
  border-radius: 50%; /* Round badge */
  font-size: 10px; /* Badge text size */
}

.shopping-cart {
  font-size: 10px; /* Adjust icon size as needed */
  margin-right: 5px; /* Spacing between icon and badge */
}