.lists {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 10px;

  .category-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;

    img {
      width: 350px;
      height: 300px;
      border-radius: 6px;
    }
  }
}
.banner{
  display: flex;
  flex-direction: column;
}